<div class='all-articles'>
    <h1>Articles</h1>

    <div id='articles-wrapper'>
        
    </div>

    <div class="btn-bg">
        <%= link_to "Create Article", new_article_path %>
    </div>

    
</div>

