<div class='your-articles'>
    <h2>
        <%= articles_title %>
    </h2>

    <ul class='side-items'>
        <% your_articles.each do |article| %>
            <li>
                <%= link_to article.title, article %>
            </li>
        <% end %>
    </ul>
</div>
