<div id="articles" class="articles-container" data-controller="articles">
    <% if user_signed_in? %>
        <div class='left-section'>
            <%= render 'your_articles', your_articles: current_user.articles, articles_title: 'Your Articles' %>
        </div>
    <% else %>
        <div class='left-section'>
            <%= render 'your_articles', your_articles: @articles, articles_title: 'Recents' %>
        </div>
    <% end %>
    
    <div class="right-section">
        <div class='search-bar'>
            <form id='search-form'>
                <input placeholder='Search for Articles' id='search-input'/>
                <button type='submit' id='search-submit'>Submit</button>
            </form>
        </div>
        <div>
            <h3>Search Records</h3>
             <h4 id='ip_address'></h4>
             <ul id='search-records' class='search-records'>
            
            </ul>
            <h3>Session Search Records</h3>
             <ul id='session-search-records' class='search-records'>
            
            </ul>
        </div>
        <%= render 'articles' %>
    </div>
</div>